<html>
    <body>
        <style>
            body {
                width: 900px;
                height: 100px;
                font-family: 'Open Sans', sans-serif;
            }
            .container {
                padding-top: 10px;
                width: 100%;
                padding-left: 15px;
            }
            .logo-container {
                width: 174px;
                float: left;
            }
            .achievement {
                width: 640px;
                float: left;
                margin-left: 15px;
            }
            .achievement .title {
                padding-bottom: 4px;
            }
            .achievement .name {
                font-size: 1em;
            }
            .achievement .description {
                font-size: 0.95em;
                font-weight: 600;
                color: #7d7c7c;
            }
        </style>
        <div class="container">
            <div class="logo-container">
                <div style="width: 100%; margin:auto; display: block;">
                    <img alt="{{ name }}" src="https://cdn.akamai.steamstatic.com/steam/apps/{{ appid }}/header.jpg" width="100%" />
                </div>
            </div>
            <div class="achievement">
                <div class="title">
                    <span class="name">Latest achievement:</span>
                </div>
                {{#achievement}}
                <div style="padding-top: 5px;">
                    <div style="float: left; margin-right: 10px;">
                        <img src="{{ icon }}" width=50 />
                    </div>
                    <div style="padding-top: 10px; "> 
                        <strong>{{ displayName }}</strong><br/><span class="description"> {{ description }}</span>
                    </div>
                </div>
                {{/achievement}}
                {{^achievement}}
                <div style="padding-top: 15px;">
                    <i>Hmm, seems like I don't have any achievements yet</i>
                </div>
                {{/achievement}}
            </div>
        </div>
    </body>
</html>


